<html>
    <head>
        <title>CRUD notice board</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <h1>CRUD Notice Board</h1>
        <form action="/auth/signin" method="POST">
            <input placeholder="id" type="text" name="id" /><br />
            <input placeholder="password" type="password" name="password" />
            <input type="submit" value="제출" />
        </form>
        <a href="/">메인으로</a><br />
        <a href="/auth/signup">회원가입하러 가기</a>
    </body>
</html>
