<html>
    <head>
        <title>CRUD notice board</title>
    </head>
    <body>
        <h1>CRUD Notice Board</h1>
        <form action="/auth/signup" method="POST">
            <input placeholder="id" type="text" name="id" /><br />
            <input
                placeholder="password"
                type="password"
                name="password"
            /><br />
            <input placeholder="username" type="text" name="username" />
            <input type="submit" value="제출" />
        </form>
        <a href="/">메인으로</a><br />
        <a href="/signin">로그인 페이지로</a>
    </body>
</html>
